html,
body {
    font-family: museo-slab;
}

header>h1 {
    background: #cacaca;
    padding: 2rem;
    margin: 0;
}

.thumbnail {
    text-align: center;
    margin: 10px 10px 20px 15px;
    width: 30%;
    float: left;
}

#newsArticlesList {
    list-style: none;
}

#newsArticlesList>li {
    padding: 1rem;
    display: flex;
    border: 1px dotted #c7c7c8;
    border-radius: 5px;
    margin: 0 2rem;
}

#newsArticlesList>li>img {
    text-align: left;
    height: auto;
    width: auto;
    max-width: 125px;
    max-height: 125px;
}

.spinner {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    opacity: 1;
    position: relative;
    height: 50vh;
    display: none;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner.-paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 0.2;
    transition: opacity linear 0.1s;
}

.spinner::before {
    -webkit-animation: 1.5s linear infinite spinner;
    animation: 1.5s linear infinite spinner;
    -webkit-animation-play-state: inherit;
    animation-play-state: inherit;
    border: solid 3px #dedede;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    will-change: transform;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default .navbar-nav>.active>a {
    font-weight: bold;
}

@media (max-width: 40em) {
    .thumbnail {
        width: 100%;
    }
    #newsArticlesList>li {
        display: block;
    }
    #newsArticlesList>li>img {
        text-align: left;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 50%;
    }
}

#newsArticlesList>li>div {
    margin: 0 1rem;
}

.mainHeading {
    text-align: center;
}